{% extends "network/layout.html" %}
{% load static %}


{% block script %}
    <script type="module" src="{% static 'network/helper.js' %}"></script>
    <script type="module" src="{% static 'network/followings.js' %}"></script>
{% endblock script %}

{% block body %}
    {% if user.is_authenticated %}
        <h2 id="header" class="container mt-4">Followings Posts</h2>
        <input type="hidden" id="userid" value="{{ request.user.id}}">
        <div class="container mt-4" id="followings-posts">
        </div>
    {% endif %}
{% endblock %}