{% extends "network/layout.html" %}
{% load static %}


{% block script %}
    <script type="module" src="{% static 'network/feed.js' %}"></script>
    <script type="module" src="{% static 'network/profile.js' %}"></script>
{% endblock script %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container mt-3" id="profile">
            <h2>
                <span id="profile_user_name" value={{ profile_user_name }}>
                    {{ profile_user_name }}
                    <button style="display:none" id="follow_button" class="btn btn-primary" ></button>
                </span>
            </h2>
            <div id="follow">
                Following: <span id="following"> 0 </span>
                Followers:<span id="followers"> 0 </span>
            </div> 
            <input type="hidden" id="userid" value="{{ request.user.id}}">
            <input type="hidden" id="profile_user_id" value="{{ profile_user_id}}">
        </div>

        {% if profile_user_id == request.user.id %}
        
            <div class="container mt-3" id="new_post">
                <div class="row mt-1">
                    <div class="col-12">
                        <form id="new-post-form" method="POST">
                            <span class="new-post"><b>New Post</b></span>
                            <br>
                            <textarea id="content-form" class="col-12"></textarea>
                            <br>
                            <input class="btn btn-primary mb-1" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        
        {% endif %}


    {% endif %}
    
    <div class="container mt-4" id="profile-posts">
    
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'profile_view' user.username %}?page={{ posts.previous_page_number }}">Previous Page</a>
                    </li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'profile_view' user.username %}?page={{ posts.next_page_number }}">Next Page</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        {% for post in posts %}
            <div  class="row mt-1">
                <div class="col-12">
                    <a class="poster" value="{{ post.userid }}"  href="{% url 'profile_view' post.username %}">{{ post.username }}</a>
                    <br />
                    <br />
                    {% if post.userid == request.user.id %}
                        <a class="edit" value="{{ post.id }}" href="">Edit</a>
                    {% endif %}
                    <p class="content"> {{ post.content }}</p>
                    <span class="timestamp"> {{ post.timestamp }} </span>
                    <br />
                    <span class="likes" value="{{ post }}">
                        <div class="image-box">
                            <a><img src="{% static "network/likebutton.png" %}" alt="Like"></a>
                            <span class="likes-counter"></span>
                        </div>
                    </span>
                    <br />
                    <a class="comment">comment</a>
                </div>
            </div>
        {% endfor %}
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'profile_view' user.username %}?page={{ posts.previous_page_number }}">Previous Page</a>
                    </li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'profile_view' user.username %}?page={{ posts.next_page_number }}">Next Page</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>

{% endblock %}