.row {
    font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: 1px solid lightgray;
    border-radius: 5px;
    /* margin: 15px; */
}

.poster {
    font-weight: bolder;
    font-size: 18px;
}

.timestamp {
    font-size: 12px;
    color: grey;
}

#follow{
    font-size: 15px;
    color: #007bff;
}

div.image-box {
    height: 30px;
    width: 30px;
    display: inline-block;
}

div.image-box img {
    max-height: 100%;
    max-width: 100%;
    
}

img.liked {
    opacity: 1;
}
img.noliked {
    opacity: 0.4;
}

.likes-counter {
    color: #007bff;
}